{% extends "debt_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
    {% block header %}
        Delete Credit Line: {{ creditline }}
    {% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <a type="submit">{% bootstrap_button 'Confirm' %}</a>
    </form>
    <a href="{% url 'debt:account-detail' creditline.id %}">
        {% bootstrap_button 'Back to Credit Line' %}
    </a>
{% endblock %}
