{% extends "debt_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
    {% block header %}
        Delete All Statement Data
    {% endblock %}
{% endblock %}

{% block content %}
    <b>Are you sure?</b>
    <form action="{% url 'debt:statement-bulk-delete' %}" method="POST">{% csrf_token %}
        <a type="submit">{% bootstrap_button 'Delete All' %}</a>
    </form>
    <a href="{% url 'debt:debt-summary' %}">
        {% bootstrap_button 'Back to Summary' %}
    </a>
{% endblock %}
