# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 3.6
python: 3.6

# Install the codecov pip dependency
install:
  - pip install -r requirements.txt
  - cp config.yaml.template config.yaml

# Run the unit test
script:
  - coverage run -m pytest simplefi/

# Push the results back to codecov
after_success:
  - codecov
