# Disable sudo to speed up the build
sudo: false

# Set the build language to Python
language: python

# Set the python version to 3.6
python: 3.6

# Install the codecov pip dependency
install:
  - pip install -r requirements.txt

# Define environment variables
env:
  - DJANGO_SECRET_KEY=verysecretkey
  - EMAIL_HOST_USER=nobody@gmail.com
  - EMAIL_HOST_PASSWORD=verysecurepassword

# Run the unit test
script:
  - python manage.py collectstatic
  - coverage run -m pytest

# Push the results back to codecov
after_success:
  - codecov
