language: python
python: 3.6
cache: pip
install: pip install -r requirements.txt
env:
  - >-
    DJANGO_SETTINGS_MODULE=simplefi.settings.development
    DJANGO_SECRET_KEY=verysecretkey
before_script:
  - black --check .
  - flake8 .
  - mypy .
script:
  - python manage.py collectstatic
  - coverage run -m pytest
after_success:
  - codecov
