{% extends "budget_base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% block title %}
    {% block header %}
        Account: {{ account.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    <h4>Details</h4>
    <b>Date Header:</b> {{ object.date_col_name }}<br>
    <b>Amount Header:</b> {{ object.amt_col_name }}<br>
    <b>Description Header:</b> {{ object.desc_col_name }}<br>
    <a href="{% url 'budget:account-update' account.id %}">{% bootstrap_button 'Update' %}</a>
    <a href="{% url 'budget:account-delete' account.id %}">{% bootstrap_button 'Delete' %}</a>

    <h4>Transactions</h4>
    {% render_table table 'django_tables2/bootstrap.html' %}

{% endblock %}
