{% extends "budget_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block title %}{% block header %}Backups{% endblock %}{% endblock %}

{% block content %}
  <form action="{% url 'budget:backup-addnew' %}" method="post" class="form form-group">
  {% csrf_token %}
    {% bootstrap_button 'Create New Backup' %}
  </form>
  <a href="{% url 'budget:backup-add' %}">{% bootstrap_button 'Upload Backup File' %}</a><br><br>
  <a href="{% url 'budget:backup-purge-confirm' %}">{% bootstrap_button 'Clear Transaction Data' %}</a>
    {% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}
