{% extends "budget_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
    {% block header %}
        Delete Category: {{ category }}
    {% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <a type="submit">{% bootstrap_button 'Confirm' %}</a>
    </form>
    <a href="{% url 'budget:category-detail' category.id %}">{% bootstrap_button "Back to Category: "|add:category.name %}</a>
{% endblock %}
