{% extends "budget_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
    {% block header %}
        Update Category: {{ category.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <a type="submit">{% bootstrap_button 'Update' %}</a>
    </form>
    <a href="{% url 'budget:category-detail' category.id %}">{% bootstrap_button "Back to Category: "|add:category.name %}</a>
{% endblock %}
