{% extends "budget_base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% block title %}
    {% block header %}
        Class Detail: {{ transactionclass }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% if view.budget %}
    <p>
        <b>Budget:</b>
        {{ view.budget.value }} (<a href="{% url 'budget:budget-update' view.budget.id %}">update</a>)
    </p>
    {% endif %}
    <a href="{% url 'budget:index' %}">{% bootstrap_button 'Back To Summary' %}</a>

    {% if view.categories %}
    <h3>One-Year Summary</h3>
    <a href="{% url 'budget:category-add' %}">
        {% bootstrap_button 'Add New Category' %}
    </a>
    {% render_table table 'django_tables2/bootstrap.html' %}
    {% endif %}
{% endblock %}
