{% extends "budget_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
    {% block header %}
        New Pattern
    {% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <a type="submit">{% bootstrap_button 'Save' %}</a>
    </form>
    <a href="{% url 'budget:pattern-list' %}">{% bootstrap_button 'Back to Patterns' %}</a>

    {# -- UNMATCHED TRANSACTIONS -- #}
    <p><b>Unmatched transactions: {{ num_unmatched_transactions }}</b></p>
    <ul>
    {% for t in unmatched_transaction_list %}
        <li><a href="{% url 'budget:transaction-detail' t.id %}">{{ t }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
