{% extends "budget_base.html" %}
{% load bootstrap3 %}
{% block title %}
    {% block header %}
        Transaction Detail
    {% endblock %}
{% endblock %}

{% block content %}
    <p>
        <b>Upload batch:</b>
        <a href="{% url 'budget:upload-detail' transaction.upload.id %}">{{ transaction.upload }}</a>
    </p>
    <p>
        <b>Account:</b>
        <a href="{% url 'budget:account-detail' transaction.account.id %}">{{ transaction.account }}</a>
    </p>
    <p>
        <b>Date:</b>
        {{ transaction.date }}
    </p>
    <p>
        <b>Amount:</b>
        {{ transaction.amount }}
    </p>
    <p>
        <b>Description:</b>
        {{ transaction.description }}
    </p>
    {% if transaction.class_field %}
    <p>
        <b>Class:</b>
        <a href="{% url 'budget:class-detail' transaction.class_field.id %}">{{ transaction.class_field }}</a>
    </p>
    {% endif %}
    {% if transaction.category %}
    <p>
        <b>Category:</b>
        <a href="{% url 'budget:category-detail' transaction.category.id %}">{{ transaction.category }}</a>
    </p>
    {% endif %}
    {% if transaction.pattern %}
    <p>
        <b>Classified by pattern:</b>
        <a href="{% url 'budget:pattern-detail' transaction.pattern.id %}">{{ transaction.pattern }}</a>
    </p>
    {% endif %}
    <a href="{% url 'budget:transaction-delete' transaction.id %}">
      {% bootstrap_button 'Delete' %}
    </a>
{% endblock %}
