{% extends "budget_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% block header %}
    {% block title %}
    Upload: {{ upload }}
{% endblock %}
    (<a href="{% url 'budget:account-detail' upload.account.id %}">{{ upload.account }}</a>)
{% endblock %}

{% block content %}
    <a href="{{ upload.csv.url }}">{% bootstrap_button 'View CSV' %}</a>
    <a href="{% url 'budget:upload-delete' upload.id %}">{% bootstrap_button 'Delete' %}</a>
    <a href="{% url 'budget:upload-add' %}">{% bootstrap_button 'Add New Upload' %}</a>
    <h4>Transactions</h4>
    {% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}
