{% extends "budget_base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block title %}
    {% block header %}
        Delete Upload: {{ upload }}
    {% endblock %}
{% endblock %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <a type="submit">{% bootstrap_button 'Confirm' %}</a>
    </form>
    <a href="{% url 'budget:upload-detail' upload.id %}">
        {% bootstrap_button 'Back to Upload' %}
    </a>
{% endblock %}
