{% extends "debt_base.html" %}
{% load bootstrap3 %}

{% block content %}
    <h2>Credit Line: {{ creditline.name }}</h2>
    <h4>Details</h4>
    <b>Holder:</b> {{ creditline.holder }}<br>
    <b>Date Opened:</b> {{ creditline.date_opened }}<br>
    <b>Annual Fee:</b> {{ creditline.annual_fee }}<br>
    <b>Interest Rate (%):</b> {{ creditline.interest_rate }}<br>
    <b>Credit Line:</b> {{ creditline.credit_line }}<br>
    <b>Minimum Payment (%):</b> {{ creditline.min_pay_pct }}<br>
    <b>Minimum Payment ($):</b> {{ creditline.min_pay_dlr }}<br>
    <b>Priority:</b> {{ creditline.priority }}<br>
    <b>Available Credit:</b> {{ creditline.available_credit }}<br>
    <a href="{% url 'debt:account-update' creditline.id %}">{% bootstrap_button 'Update' %}</a>
    <a href="{% url 'debt:account-delete' creditline.id %}">{% bootstrap_button 'Delete' %}</a>
    <h4>Statements:</h4>
    {% for s in creditline.statement_set.all %}
        <a href="{% url 'debt:statement-update' s.id %}">{{ s }}</a><br>
    {% endfor %}
    <a href="{% url 'debt:statement-add' %}">{% bootstrap_button 'Add Statement' %}</a>
{% endblock %}
