{% extends "base.html" %}

{% block nav %}
    <li><a href="{% url 'budget:index' %}">Budget</a></li>
    <li><a href="{% url 'budget:bank-list' %}">Banks</a></li>
    <li><a href="{% url 'budget:accountholder-list' %}">Account Holders</a></li>
    <li><a href="{% url 'budget:account-list' %}">Accounts</a></li>
    <li><a href="{% url 'budget:upload-list' %}">Uploads</a></li>
    <li><a href="{% url 'budget:category-list' %}">Categories</a></li>
    <li><a href="{% url 'budget:subcategory-list' %}">Subcategories</a></li>
    <li><a href="{% url 'budget:pattern-list' %}">Patterns</a></li>
    <li><a href="{% url 'budget:transaction-list' %}">Transactions</a></li>
    <li><a href="{% url 'budget:one-year-summary' %}">One-Year Summary</a></li>
    <li><a href="{% url 'budget:debt-summary' %}">Debt Summary</a></li>
{% endblock %}
