/* Navbar container */
.simplefi-navbar {
  overflow: hidden;
  background-color: #00A6A4;
}

/* Links inside the navbar */
.simplefi-navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.simplefi-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.simplefi-dropdown .simplefi-dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.simplefi-navbar a:hover, .simplefi-dropdown:hover .simplefi-dropbtn {
  background-color: #0077B5;
}

/* Dropdown content (hidden by default) */
.simplefi-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.simplefi-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.simplefi-dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.simplefi-dropdown:hover .simplefi-dropdown-content {
  display: block;
}

/* Page content */
.main {
  transition: margin-left .5s;
  padding: 20px;
  margin-top: -20px;
  margin-left: 0;
}
