<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>SimpleFi</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Add additional CSS/JS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'main.js' %}"></script>
</head>
<body>
  <nav class="simplefi-navbar">
    <a href="#">SimpleFi</a>
    {% if user.is_authenticated %}
    <div class="simplefi-dropdown">
        <button class="simplefi-dropbtn">Budget
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="simplefi-dropdown-content">
            <a href="{% url 'budget:index' %}">Summary</a>
            <a href="{% url 'budget:account-list' %}">Accounts</a>
            <a href="{% url 'budget:backup-list' %}">Backups</a>
            <a href="{% url 'budget:upload-list' %}">Uploads</a>
            <a href="{% url 'budget:pattern-list' %}">Patterns</a>
            <a href="{% url 'budget:transaction-list' %}">Transactions</a>
        </div>
    </div>
    <div class="simplefi-dropdown">
        <button class="simplefi-dropbtn">Debt
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="simplefi-dropdown-content">
            <a href="{% url 'debt:index' %}">Summary</a>
            <a href="{% url 'debt:account-list' %}">Credit Lines</a>
        </div>
    </div>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'django_registration_register' %}">Sign Up</a>
    {% endif %}
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  <a class="close" href="#" data-dismiss="alert">×</a>
                  {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
      <div id="main" class="main">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  {# Optional Bootstrap JS#}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
