{% extends "base.html" %}

{% block content %}
    <h2>Account Holder Detail</h2>
    <p>
        <b>Name:</b>
        <span>{{ accountholder.name }}</span>
    </p>
    <ul>
        <li><a href="{% url 'budget:accountholder-update' accountholder.id %}">Update</a></li>
        <li><a href="{% url 'budget:accountholder-delete' accountholder.id %}">Delete</a></li>
        <li><a href="{% url 'budget:accountholder-list' %}">Back</a></li>
    </ul>
    <b>Accounts:</b>
    {% for t in accountholder.account_set.all %}
        <li><a href="{% url 'budget:account-detail' t.id %}">{{ t }}</a></li>
    {% endfor %}
{% endblock %}
