{% extends "budget_base.html" %}

{% block content %}
    <h2>Account Detail</h2>
    <p>
        <b>Name:</b>
        <span>{{ account.name }}</span>
    <br>        <b>Date Header:</b>
        <span>{{ object.date_col_name }}</span>
    <br>        <b>Amount Header:</b>
        <span>{{ object.amt_col_name }}</span>
    <br>        <b>Description Header:</b>
        <span>{{ object.desc_col_name }}</span>
    </p>
    <ul>
        <li><a href="{% url 'budget:account-update' account.id %}">Update</a></li>
        <li><a href="{% url 'budget:account-delete' account.id %}">Delete</a></li>
        <li><a href="{% url 'budget:account-list' %}">Back</a></li>
    </ul>
    <h2>Transactions:</h2>
    {% for t in account.transaction_set.all %}
        <li><a href="{% url 'budget:transaction-detail' t.id %}">{{ t }}</a></li>
    {% endfor %}
{% endblock %}
