{% extends "budget_base.html" %}

{% block content %}
    <h2>Category Detail</h2>
    <p>
        <b>Name:</b>
        <span>{{ category.name }}</span>
    </p>
    <p>
        <b>Class:</b>
        <span><a href="{% url 'budget:class-detail' category.class_field.id %}">{{ category.class_field }}</a></span>
    </p>
    <ul>
        <li><a href="{% url 'budget:category-update' category.id %}">Update</a></li>
        <li><a href="{% url 'budget:category-delete' category.id %}">Delete</a></li>
    </ul>
    <b>Transactions:</b>
    {% for t in category.transaction_set.all %}
        <li><a href="{% url 'budget:transaction-detail' t.id %}">{{ t }}</a></li>
    {% endfor %}
{% endblock %}
