{% extends "budget_base.html" %}
{% load extras %}

{% block content %}
    <h2>Class Detail</h2>
    <p>
        <b>Name:</b>
        <span>{{ transactionclass.name }}</span>
    </p>
    <ul>
        <li><a href="{% url 'budget:class-list' %}">Back To Class List</a></li>
    </ul>
    {% if subcategories %}
    <b>One-Year Summary</b>
    <table>
        <tr>
            <th></th>
            {% for header in columns %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="16" class="divider"><hr /></td>
        </tr>
        {% for index, row in data.items %}
        <tr>
            <th>
                {% if index in subcategories and index %}
                    <a href="{% url 'budget:subcategory-detail' subcategories|get_item:index %}">{{ index }}</a>
                {% else %}
                    {{ index }}
                {% endif %}
            </th>
            {% for cell in row %}
            <td align="right">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <b>Transactions:</b>
    {% for t in transactions %}
        <li><a href="{% url 'budget:transaction-detail' t.id %}">{{ t }}</a></li>
    {% endfor %}
{% endblock %}
