{% extends "budget_base.html" %}

{% block content %}
    <h2>Subcategory Detail</h2>
    <p>
        <b>Name:</b>
        <span>{{ subcategory.name }}</span>
    </p>
    <p>
        <b>Class:</b>
        <span><a href="{% url 'budget:class-detail' subcategory.class_field.id %}">{{ subcategory.class_field }}</a></span>
    </p>
    <ul>
        <li><a href="{% url 'budget:subcategory-update' subcategory.id %}">Update</a></li>
        <li><a href="{% url 'budget:subcategory-delete' subcategory.id %}">Delete</a></li>
        <li><a href="{% url 'budget:subcategory-list' %}">Back</a></li>
    </ul>
    <b>Transactions:</b>
    {% for t in subcategory.transaction_set.all %}
        <li><a href="{% url 'budget:transaction-detail' t.id %}">{{ t }}</a></li>
    {% endfor %}
{% endblock %}
