{% extends "budget_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

{% block content %}
    <h2>Upload Detail</h2>
    <p>
        <b>Account:</b>
        <span><a href="{% url 'budget:account-detail' upload.account.id %}">{{ upload.account }}</a></span>
    </p>
    <p>
        <b>Upload time:</b>
        <span>{{ upload.upload_time }}</span>
    </p>
    <p>
        <b>CSV:</b>
        <span><a href="{{ upload.csv.url }}"><button class="btn btn-outline-warning mr-3">View</button></a></span>
    </p>

    <ul>
        <li><a href="{% url 'budget:upload-delete' upload.id %}">Delete</a></li>
        <li><a href="{% url 'budget:upload-list' %}">Back</a></li>
    </ul>
    <b>Transactions:</b>
    <div class="row">
      <div class="col-sm-8">
        {% render_table table 'django_tables2/bootstrap.html' %}
      </div>
      <div class="col-sm-4">
        {% if filter %}
          <form action="" method="get" class="form form-group">
            {% bootstrap_form filter.form layout='horizontal' size='small' %}
            {% bootstrap_button 'Filter' %}
          </form>
          <a href="{% url 'budget:transaction-list' %}">
            {% bootstrap_button 'Clear' %}
          </a>
        {% endif %}
      </div>
    </div>
{% endblock %}
