name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
      - name: isort
        run: |
          pip install isort==5.6.3
          isort . -c -v
      - name: Black
        run: |
          pip install black==19.10b0
          black --check .
      - name: Flake8
        run: |
          pip install flake8==3.8.4
          flake8 .
      - name: Bandit
        run: |
          pip install bandit==1.6.2
          bandit -r . --ini .bandit
      - name: Pylint
        run: |
          pip install pylint==2.6.0
          pylint simplefi budget debt
      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements.txt
      - name: Pytest
        env:
          DJANGO_SETTINGS_MODULE: simplefi.settings.development
          DJANGO_SECRET_KEY: verysecretkey
        run: |
          pip install codecov
          python manage.py collectstatic
          coverage run -m pytest
          codecov
